.twitter-tweet {
    border: 1px solid rgb(207, 217, 222);
    border-radius: 12px;
    padding: 14px 16px;
    color: rgb(15, 20, 25);
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 538px;
}

.twitter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twitter-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.twitter-user-image {
    border-radius: 50%;
}

.twitter-user-name {
    margin: 0;
}

svg {
    height: 25px;
}

.top {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(207, 217, 222);
    padding: 15px 0 0 0;
    /* border-bottom-color: rgb(207, 217, 222);
    border-bottom-style: solid;
    border-bottom-width: 1px; */
}

.content {
    font-size: 20px;
}

.time {
    color: rgb(83, 100, 113);
}

.footer {
    color: rgb(29, 155, 240);
    min-width: 32px;
    min-height: 32px;
    border: 1px solid rgb(207, 217, 222);
    border-radius: 9999px;
    border-width: 1px;
    padding-left: 16px;
    padding-right: 16px;
}

.post-image {
    width: 540px;
}

.filter-green {
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

span {
    color: rgb(29, 155, 240);
}

.image {
    border: 1px solid rgb(207, 217, 222);
    border-radius: 12px;
}

.bold {
    font-weight: bold;
    color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.none {
    color: white;
}

a {
    color: rgb(29, 155, 240);
    text-decoration: none;
}

.replyLink {
    color: #536471 !important;
}